<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main class="d-flex flex-column align-items-center justify-content-center text-center mx-auto">
  <div class="mb-3">
    <h2 class="mb-3">Exercise Completed</h2>
    <p>Enter number of steps and exercise type to save exercise</p>
  </div>
  
  
  <div class="container-box bg-light p-3 mb-3 w-50">
    <h5>Total Time Duration</h5>
    <span id="totalTime"></span> seconds
  </div>
  
  <div class="container-box bg-light p-3 mb-3 w-50">
    <h5>Steps Taken</h5>
    <input type="number" name="stepsTaken" id="stepsTaken" min="0" required class="form-control">
  </div>
  
  <div class="container-box bg-light p-3 mb-3 w-50">
    <h5>Exercise Type</h5>
    <select name="exerciseType" id="exerciseType" required class="form-select">
      <option value="run">Run</option>
      <option value="walk">Walk</option>
    </select>
  </div>
  
  <div class="container-box bg-light p-3 mb-3 w-50">
    <h5>Calories Burned</h5>
    <span id="caloriesBurned"></span> calories
  </div>
  
  <form id="exerciseForm" method="POST" action="/store-time" class="mt-4">
    <input type="hidden" id="userWeight" data-weight="<%= user.weight %>">
    <input type="hidden" id="userAge" data-age="<%= user.age %>">
    <input type="hidden" id="userHeight" data-height="<%= user.height %>">
    <input type="hidden" id="userActivityLevel" data-activityLevel="<%= user.activityLevel %>">
    <input type="hidden" name="totalTime" id="hiddenTotalTime" value="<%= totalTime %>">
    <input type="hidden" name="caloriesBurned" id="hiddenCaloriesBurned" data-calories-burned="">
    <button type="submit" class="btn btn-primary btn-lg" id="saveExerciseButton" disabled>Save Exercise</button>
  </form>
</main>

<footer>
  <%- include('../partials/footer'); %>
  <script src="/public/scripts/complete-exercise-script.js"></script>
</footer>

</body>
</html>
