<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main class="d-flex flex-column align-items-center justify-content-center text-center mx-auto">
  <h2>Exercise Completed</h2>
  <table class="table table-bordered w-50 mt-4">
    <tr>
      <th>Total Time Duration</th>
      <th>Steps Taken</th>
      <th>Exercise Type</th>
      <th>Calories Burned</th>
    </tr>
    <tr>
      <td><span id="totalTime"></span> seconds</td>
      <td>
        <input type="number" name="stepsTaken" id="stepsTaken" min="0" required>
      </td>
      <td>
        <select name="exerciseType" id="exerciseType" required>
          <option value="run">Run</option>
          <option value="walk">Walk</option>
        </select>
      </td>
      <td><span id="caloriesBurned"></span> calories</td>
    </tr>
  </table>
  <form id="exerciseForm" method="POST" action="/store-time" class="mt-4">
    <input type="hidden" id="userWeight" data-weight="<%= user.weight %>">
    <input type="hidden" id="userAge" data-age="<%= user.age %>">
    <input type="hidden" id="userHeight" data-height="<%= user.height %>">
    <input type="hidden" name="userActivityLevel" value="<%= user.activityLevel %>">
  
    <input type="hidden" name="totalTime" id="hiddenTotalTime" value="<%= totalTime %>">
    <input type="hidden" name="caloriesBurned" id="hiddenCaloriesBurned">
    <button type="submit" class="btn btn-primary btn-lg">Save Exercise</button>
  </form>
</main>

<footer>
  <%- include('../partials/footer'); %>
  <script>
    // Get the reference to the totalTime and hiddenTotalTime elements
    const totalTimeElement = document.getElementById('totalTime');
    const hiddenTotalTimeElement = document.getElementById('hiddenTotalTime');

    // Retrieve the total time from the query parameter
    const urlParams = new URLSearchParams(window.location.search);
    const totalTime = urlParams.get('time');

    // Update the totalTime element and hiddenTotalTime value with the actual total time
    totalTimeElement.textContent = totalTime;
    hiddenTotalTimeElement.value = totalTime;
  </script>
</footer>

</body>
</html>