<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<style>
    h1 {
        text-align: center;
    }

    .inline {
        display: inline;
    }

    #easter-link {
        all: unset;
    }
</style>

<body class="container">

    <header>
        <nav class="border-bottom bg-lighten-xl shadow-sm mb-5 static-top">
            <div class="navbar p-2">
                <h2 class="navbar-brand">FitT<a href="/easter-egg" id="easter-link">r</a>ack</h2>
                <a class="nav-link" href="/profile">User Profile</a>
            </div>
        </nav>
    </header>

    <main>
        <!-- Body #1-->
        <!-- BootStrap https://mdbootstrap.com/docs/standard/extended/profiles/ -->
        <h1>Profile</h1>

        <section style="background-color: #eee;">

            <div class="card mb-4">
                <div class="card-body">

                    <!-- Username -->
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Username</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">
                                <%= username %>
                            </p>
                        </div>
                    </div>

                    <!-- Email -->
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">
                                <%= email %>
                            </p>
                        </div>
                    </div>

                    <!-- Age -->
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Age</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">
                                <%= age %>
                            </p>
                        </div>
                    </div>

                    <!-- Height -->
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Height</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0 inline">
                                <%= currentHeight %>
                            </p>
                            <p class="mb-0 inline">
                                cm
                            </p>
                        </div>
                    </div>

                    <!-- Current weight -->
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Weight</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0 inline">
                                <%= currentWeight %>
                            </p>
                            <p class="mb-0 inline">
                                kg
                            </p>
                        </div>
                    </div>

                    <!-- Goal Weight -->
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Goal Weight</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0 inline">
                                <%= goalWeight %>
                            </p>
                            <p class="mb-0 inline">
                                kg
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </section>

        <!-- Body #2 -->
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="profile">
                <div class="btn-toolbar d-flex align-items-center justify-content-center">
                    <a href="/settings" class="btn btn-primary w-100 btn-lg mb-2">Change Settings</a>
                    <a href="/logout" class="btn btn-danger w-100 btn-lg mb-2">Log Out</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>
